html
    head
        title Création
        link(rel="stylesheet", href="/css/styles.css")
    body
        main
            p Créez votre propre sondage
            form(id="corps" class=#{user.fullname} method="POST")
                button(type="submit") créer le sondage
                input(type="text", name="question", placeholder="Votre question")



            button(onclick=add(document.getElementById('corps'))) Ajouter une réponse
